@model UserModel

@{
    Layout = "_AdminLayout";
}

<h1 class="py-3 text-white" style="background-color: #3a393f ">
    THÊM NGƯỜI DÙNG
</h1>
<div class="mx-5 mt-4">
    <form asp-action="AddUser" asp-controller="Admin" method="post">
        <div class="mb-3 form-group">
            <label asp-for="User.FirstName" class="form-label">Tên</label>
            <input type="text" class="form-control" asp-for="User.FirstName">
            <span class="form-text text-danger" asp-validation-for="User.FirstName"></span>
        </div>
        <div class="mb-3 form-group">
            <label asp-for="User.LastName" class="form-label">Họ</label>
            <input type="text" class="form-control" asp-for="User.LastName">
            <span class="form-text text-danger" asp-validation-for="User.LastName"></span>
        </div>
        <div class="mb-3 form-group">
            <label asp-for="User.UserName" class="form-label">Tên tài khoản</label>
            <input type="text" class="form-control" asp-for="User.UserName">
            <span class="form-text text-danger" asp-validation-for="User.UserName"></span>
        </div>
        <div class="mb-3 form-group">
            <label asp-for="User.Password" class="form-label">Mật khẩu</label>
            <input type="password" class="form-control" asp-for="User.Password">
            <span class="form-text text-danger" asp-validation-for="User.Password"></span>
        </div>
        <div class="mb-3 form-group">
            <label asp-for="User.Email" class="form-label">Email</label>
            <input type="email" class="form-control" asp-for="User.Email">
            <span class="form-text text-danger" asp-validation-for="User.Email"></span>
        </div>
        
        <div class="text-center"><button type="submit" class="btn btn-primary">Thêm</button></div>
    </form>
</div>