@model UserModel

@{
    Layout = "_AdminLayout";
}

<h1 class="py-3 text-white" style="background-color: #3a393f ">TÀI KHOẢN</h1>
<div class="mx-5">
    <a href="/Admin/AddUser" class="btn btn-success my-4 float-end">Thêm người dùng mới</a>

    <table class="table table-bordered table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>HỌ</th>
                <th>TÊN</th>
                <th>TÊN NGƯỜI DÙNG</th>
                <th>VỊ TRÍ</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.UserName</td>
                    <td>@user.Position.Name</td>
                    <td><a href="/Admin/UpdateUser/@user.Id" class="btn btn-warning btn-sm">Biên tập</a></td>
                    <td><a href="/Admin/DeleteUser/@user.Id" class="btn btn-danger btn-sm">Xóa</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>