@{
    Layout = "_UserLayout";
}
<link href="~/Css/style.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<section class="background-img">
        <div class="main">
            <div class="main_tag">
                <h1>WELCOME TO<br><span>THƯ VIỆN </span></h1>
                <p>
                    Hệ thống Thư viện TP. HCM được xem là thư viện trung tâm.
                    Kết nối với hệ thống sách thông qua Website và hệ phần mềm quản lý thư viện tập trung.
                    Bạn đọc bất kỳ đâu cũng có thể tìm, mượn được tài liệu mình cần tìm đang được lưu giữ tại thư viện nào trong toàn hệ thống,
                    từ đó giúp bạn đọc thuận tiện trong việc sử dụng tài liệu và các dịch vụ thư viện khác.
                </p>
            </div>
            <div class="main_img">
            <img src="~/DefaultPicture/table.png">
            </div>
        </div>
    </section>



